In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("03042024.parquet")

In [4]:
df.head(3)

,partition_date,order_id,commune,customer_id,employee_id,event_date,event_day,event_hour,event_minute,event_month,event_second,event_year,latitude,longitude,neighborhood,quantity_products
557,03042024,10a44773-85b5-583d-a561-a5458a99a15b,COMUNA 3,4261,1679,2024-04-03,03,23,43,04,44,2024,-75.549650,6.269627,MANRIQUE,7
513,03042024,e85b1471-83a8-57f3-909f-702e120f2def,COMUNA 3,3340,1679,2024-04-03,03,23,10,04,04,2024,-75.546873,6.276826,MANRIQUE,20
565,03042024,49401a7c-0e64-5d92-b303-ae8472ee2409,COMUNA 3,4838,1679,2024-04-03,03,22,42,04,45,2024,-75.546877,6.283064,MANRIQUE,14